*{
    margin: 0;
    padding: 0;
}
h1 {
font-family: Arial, Helvetica, Arial, sans-serif;
font-weight: 200;
}
.part2 {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    /* border: black; */
    background-size: cover;
}
.part3 {
    width: 500px;
    height: 700px;
    border: black;
    background-color: white;
    margin: auto;
    margin-top: 15px;
}
.q1,.q2:hover{
    background-color: white;
    transition-delay: 1000;
    border: none;
}
button{
    font-size: 15px;
}
#y5,#y6,#y7,#y8{
    box-shadow: 2px 2px lightgray;
}